.Navigation{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}
.Menu{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 260px;

}
.Menu-Title{
    color: white;
    font-size: 30px;
    padding: 0 10px;
}
.Menu-User{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.User-Img{
    width: 50px;
    border-radius: 50%;
}
.User-Name{
    color: white;
}
.User-Edit{
    width: 14px;
    filter: invert(1);
}
.Menu-Admin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 4px;
    gap: 2px;
}

.Menu-Admin_button{
    width: 100%;
    height: 40px;
    background-color: lightskyblue;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.Menu-Admin_button:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 6px;
}

.Menu-Admin_logo{
    width: 20px;
    filter: invert(1);
    padding: 0px 10px;
}
